@model Product 

<div clas="card mb-2">

    <img class="card-img-top" src="~/img/@Model.ImageUrl" alt="" />

    <div class="card-body">
        <h5 class="card-title"> @Model.Name</h5>
        @*<p class="card-text"> @Model.Description </p>*@
        <small class="text-muted">
            <i class="fas fa-lira-sign"> @Model.Cost </i>       
        </small>
    </div>

    <div class="card-footer text-center">
        <a asp-controller="shop" asp-action="Details" asp-route-id="@Model.ProductId" class="btn btn-primary btn-sm">Details</a>
        <a asp-controller="shop" asp-action="addtocard" asp-route-id="@Model.ProductId" class="btn btn-primary btn-sm">Add to Card</a>
    </div>
</div>



        @* 1) <a href="/product/details/@Model.ProductId" class="btn btn-primary">İncele</a>
        2) <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.ProductId" class="btn btn-primary btn-sm">İncele</a>*@
           
        @*----EDIT butonu
        <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.ProductId" class="btn btn-primary btn-sm">Edit</a>*@

        @*----DELETE butonu
        <form method="POST" action="/product/delete" style="display:inline">
            <input type="hidden" name="ProductId" value="@Model.ProductId">
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form> *@

    


 